# Dependencies
node_modules/

# Next.js
.next/
out/
.next-turbo/
.next-static/

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Package managers
yarn.lock
pnpm-lock.yaml
